.brewCard {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBqiriX4Zqb_95Le51B7y-bNJ2XPBBkNMsJaMbKHyP9KGjgtH5&s);
    color: white;
    
}

.searchBody {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBqiriX4Zqb_95Le51B7y-bNJ2XPBBkNMsJaMbKHyP9KGjgtH5&s);
}